<% include base.ejs %>
<br>
<div class="container">
<div class="jumbotron">
    <h1 class="display-3">I am William Gleich....</h1>
    <p class="lead">I am a Systems Administrator working at the Unviersity of Utah.
        <br>My focus is Linux Administration and Kubernetes.</p></p>
    <hr class="my-4">
    <p>I enjoy utilizing Python whenever possible for analytics, automation and integrations. <br>

        In my free time you will find me skiing, hiking, mountain biking, or video gaming.</p>
<!--    <p class="lead">-->
<!--        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--    </p>-->
</div>
</div>