<link rel="stylesheet" href="bootstrap.min.css" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>
    img {
            display: inline-block;
    }
    .navbar {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }


    #site_name {
        padding-left: 0rem;
        margin-left: -1.2rem;
    }

    /*.nav-link {*/
    /*    padding-bottom: 0.5rem;*/
    /*}*/




    /*.navbar-nav>li>a:before {*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: 0 top;*/
    /*    content: "";*/
    /*    display: inline-block;*/
    /*    height: 29px;*/
    /*    margin-right: 10px;*/
    /*    vertical-align: middle;*/
    /*    width: 29px;*/
    /*}*/
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--    <div class="container">-->
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mymenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/index"> <img class="img-responsive navbar-brand" height=50px src="term_icon.png"></a>
            <a class="navbar-brand" href="/index" id="site_name">will.gleich </a>
        </div>
        <div class="ml-lg-5 order-lg-last order-0 navbar-brand">
            <ul class="nav navbar-nav flex-row mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/williamgleich/" id="brand_link"><img height=33px src = "In-White-40.png"></a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="https://gitlab.com/wgleich"><img height=37px src = "gitlab-icon-rgb.png"></a> -->
                    <a class="nav-link" href="https://github.com/willgleich"><img height=30px src = "GitHub-Mark-Light-64px.png"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="mymenu">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume">Resume<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me<span class="sr-only">(current)</span></a>
                </li>
            </ul>
<!--            <form class="form-inline my-2 my-lg-0 position-relative">-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
        </div>
<!--    </div>-->
</nav>

<script>
    $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>
