<% include base.ejs %>

<style>
    /*body { padding-top: 70px; }*/

</style>
<br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Development</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>MySQL</li>
                    <li>HTML</li>
                    </h4>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DevOps</h4>
            </div>
            <div class="card-body">
                <!--                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>-->
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                        <li>Jenkins</li>
                        <li>Kubernetes</li>
                        <li>Docker</li>
                        <li>Git</li>
                    </h4>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Operations</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                        <li>RedHat & Ubuntu & Windows</li>
                        <li>Apache & Nginx</li>
                        <li>VMWare</li>
                        <li>AWS</li>
                    </h4>
                </ul>
            </div>

        </div>

<!--        <button type="button" class="btn btn-lg btn-block btn-primary">Resume</button>-->
    </div>
    <div class="card-deck mb-3 text-center">
    <div class="card mb-3 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Science</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h4>
                    <li>Laboratory Documentation</li>
                    <li>Error Propogation</li>
                    <li>Statistical Analysis</li>
                    <li></li>
                </h4>
            </ul>
        </div>

    </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Business Administration</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                        <li>Operations Management</li>
                        <li>Lean Manufacturing</li>
                        <li>Six Sigma</li>
                        <li>Root Cause Analysis</li>
                    </h4>
                </ul>
            </div>

        </div>
    </div>
</div>