<%- include ('base.ejs'); %>
<style>
   p { display: inline }
    .jumbotron > img { padding-bottom: 50px }
</style>
<br>
<div class="container">

<div class="jumbotron">
    <img src="images/will_portrait.jpg" height="300px"  class="float-right">
    <h1 class="display-3">I am William Gleich...</h1>
    <p class="lead">I am employed as a DevOps Engineer working at ARUP Laboratories.
        <br>My focus is <p class="text-warning lead">Linux Automation</p> and <p class="text-info lead">Kubernetes</p></p><br>
    <hr class="my-4">
    <p>I enjoy utilizing <p class="text-success">Python</p> whenever possible for automation, analytics and integrations <br>

        In my free time you will find me skiing, hiking, mountain biking, or video gaming</p>
<!--    <p class="lead">-->
<!--        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--    </p>-->
</div>
</div>