<%- include ('base.ejs'); %>



<style>
    #particles-js {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }


    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }


    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
</style>


<script src="particles/particles.js"></script>
<script src="typed.js"></script>

<script>particlesJS.load('particles-js', 'particles/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });</script>


<div id="particles-js"></div>
<div class="row h-100">
    <div class="card text-white bg-light mb-3 mx-auto my-auto" style="width: 25rem;" id="card1">
        <div class="card-body">
            <center><h5 class="card-text noselect" id="card-text">Inside the <a id="changing">mind</a> of <a href="/aboutme">William Gleich</a></h5></center>
        </div>
    </div>
</div>



<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}


    var options = {
        strings: ['mind', "Docker", "Javascript", "Kubernetes", "SSH", "Python", "Kernel", "Terraform", 'HTTP', "mind"],
        typeSpeed: 100,
        backDelay: 1000,
        backSpeed: 50,
        onComplete: function(self) { self.cursor.remove() }
    };

    var typed = new Typed('#changing', options);
</script>