<%- include ('base.ejs'); %>

<style>
    /*body { padding-top: 70px; }*/

</style>
<br>
<div class="container">

</div>

<div class="container">

    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Project: Compost</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <a href="https://github.com/willgleich/compost">Compost</a> is a hybrid cloud homelab extension featuring both AWS and GCP integration via Terraform -
                    Utilizing IPSec VPNs providing private VPC connectivity for cloud resources.
                </ul>
            </div>

        </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Project: this.value</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <a href="https://github.com/willgleich/gleich.tech">This</a> bootstrap website is configured with a CI/CD
                    pipeline on drone.io - dev/prod deployment onprem homelab kubernetes cluster. Flatfile blog functionality with
                    Node.JS markdown parse to HTML.
                </ul>
            </div>

        </div>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Development</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                    <li>Python</li>
                    <li>Golang</li>
                    <li>Javascript</li>
                    <li>MySQL</li>
                    <li>HTML</li>
                    </h4>
                </ul>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DevOps</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                        <li>Kubernetes</li>
                        <li>Docker</li>
                        <li>Git</li>
                        <li>Helm</li>
                        <li>Terraform</li>
                    </h4>
                </ul>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Operations</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                        <li>RedHat & Ubuntu & Windows</li>
                        <li>Apache & Nginx</li>
                        <li>Configuration Management</li>
                        <li>AWS & GCP & VMWare</li>
                        <li>Load Balancing</li>
                    </h4>
                </ul>
            </div>

        </div>

    </div>
    <div class="card-deck mb-3 text-center">
    <div class="card mb-3 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Science</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <h4>
                    <li>Laboratory Documentation</li>
                    <li>Error Propogation</li>
                    <li>Statistical Analysis</li>
                    <li>Scientific Method</li>
                </h4>
            </ul>
        </div>

    </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Business</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <h4>
                        <li>Operations Management</li>
                        <li>Lean Manufacturing</li>
                        <li>Six Sigma</li>
                        <li>Root Cause Analysis</li>
                    </h4>
                </ul>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div style="text-align: center;">
                <a href="https://www.linkedin.com/in/williamgleich/"><img src="images/linkedin_large.png" class="img-fluid"></a><br>

                <object data="WilliamGleich.pdf" type="application/pdf" width="100%" height="800px">
                    <p><a href="WilliamGleich.pdf">It appears you don't have a PDF plugin for this browser.
                        You can click here to  download the PDF file.</a></p>
                </object>

<!--                <embed src="WilliamGleich.pdf" width="500" height="375" class="embed-responsive-item"-->
<!--                       type="application/pdf">-->
            </div>
        </div>
    </div>
</div>